/* Normalize css code */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Style section  */
.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  background-image: url(https://i.postimg.cc/rmSQD83K/headerbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar styles */
.header {
  margin: 24px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.logo > img {
  flex-grow: 1;
  height: 60px;
}

nav {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navMenu {
  display: flex;
  flex-direction: row;
}

.menuIcon {
  visibility: hidden;
}

.navLink {
  padding: 10px 12px;
  font-family:

    'Inter',
    sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #344563;
}

/* Home section style */
#homeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 160px 0;
  background-image: url(https://i.postimg.cc/rmSQD83K/headerbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headerTitle {
  font-family:

    'Inter',
    sans-serif;
  font-weight: 800;
  font-size: 48px;
  font-style: normal;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #172b4d;
}

.greenText {
  margin-bottom: 24px;
  color: #36b37e;
}

.headerText {
  padding: 0 15%;
  font-family:
    'Inter',
    sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
}

.socialButton > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialButton > ul > li {
  padding: 24px;
}

/* portfolio section style */
#portfolioSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.sectionTitle {
  font-family:
  
    'Inter',
    sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 52px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.recentWorks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-gap: 20px;
  padding: 80px 0;
  width: 80%;
}

.worksCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.cardImage {
  width: 100%;
  height: 240px;
}

.projectTitle {
  padding: 12px 0;
  font-family:
  
    'Poppins',
    sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
}

.projectLang {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.langText {
  margin: 0 4px;
  padding: 8px;
  background-color: #ebf0ee;
  border-radius: 4px;
  font-family:
  
    'Inter',
    sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
}

.seeProjectBtn {
  margin: 18px 0;
  width: 122px;
  height: 48px;
  text-align: center;
  background-color: #36b37f;
  border: none;
  border-radius: 4px;
  font-family:
  
    'Poppins',
    sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 3%;
  color: #ffffff;

}

/* media query style */
@media only screen and (max-width: 600px) {
  .menuIcon {
    visibility: visible;
  }

  .menu {
    visibility: hidden;
  }

  .recentWorks {
    grid-template-columns: auto;
  }
}